
.home{
  min-height: 100vh;
background-color: var(--col2);
 
}
/* Hero Section */
.hero {
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url('hero2.jpg') no-repeat center center / cover;
  /* A háttérkép közvetlenül a hero div-en */
  overflow: hidden;
}

.hero-content {
  z-index: 2; /* Biztosítja, hogy a szöveg és a gombok a háttér előtt legyenek */
  text-align: center;
  padding: 3rem;
  color: var(--col5);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  
}

.hero h6 {
  font-size: 1.2rem;
  margin-bottom: 8rem;
}

.home .cards-container {
  display: flex;
  gap: 1.5rem;
  margin-top: -3rem; /* Félig belecsúszik a képbe */
  justify-content: center;
  flex-wrap: wrap;
  z-index: 22;
}

.home .mycard {
  width: 250px;
  height: 250px;
  display: flex;
 align-items: center;
 border-radius: 0.5rem;
  justify-content: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.home .mycard:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.mycard-title {
  color: white;
  width: 100%;
  /*background: var(--col5);*/
  background-color: rgba(0, 0, 0, .7);
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;

  text-align: center;
}

.mycard-title:hover {
  background: var(--col1);
  color: var(--col5);;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero{
    height: 60vh;
    background: url('hero1.jpg') no-repeat center center / cover;
  }
  .hero h1 {
    font-size: 1rem;
   
  }

  .hero h6 {
    font-size: 0.6rem;
  }

  .home .mycard {
    width: 100px;
    height: 150px;
  }
  .home .mycard-title{
    font-size: 0.8rem;
  }
  .home .cards-container {
    margin-top: -5rem;
  }
}

