/*BigCard*/
.bigCard h4 strong,.bigCard li span{
    background-color: var(--col4)!important;
    color:var(--col1)!important;
  }
  .bigCard{
    background-color: var(--col4)!important;
  }
  .bigCard:hover{
    cursor: default;
  }