footer {
    background-color:var(--col5);
    height:auto;
    
    color:var(--col1);

    text-align: center;
  }
  
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: auto;
  }
  
  .about-me-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  