.src-TaggedContentCard-CardContent-styles-module__thumbnail--q8hER img{
    max-width: 300px!important;
}
.src-TaggedContentCard-CardContent-styles-module__description--aqzfR{
    font-size: 0.7rem!important;
    font-style: italic;
}