.smallCard {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap:10px;
    border-bottom: 1px solid var(--col1);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Szebb animáció */
    position: relative;
    color:var(--col1);
  }
  
  .smallCard:hover {
    background-color: var(--col4); /* Világosabb háttér */
    transform: scale(1.02); /* Kicsit nagyobb méretre vált */
    cursor: pointer; /* Mutatja, hogy kattintható */
  }
  .smallCard img{
    border-radius: 5px;
  }
.smallCard .category{
    font-size: 0.6rem;
    font-style: italic;
    position: absolute;
    bottom:0;
    right: 5px;
}
.author{
    font-size: 0.8rem;
}