@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hidden {
    transform: translateY(-100%);
  }
  
  *{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
 
  }
  .page{
        min-height: 100vh;  
        background-color: #eef2f5;
        padding-top: 55px;
       color:var(--text);
      }
.err-container {
  height: 1em; /* Magasság fenntartása a hibaüzenet számára */
  font-size: 0.7em; /* Az üzenet mérete */
  color:var(--accent);
}
.navbar-dark .nav-link:hover {
  color: var(--secondary) !important;

}
.active{
  background-color: var(--col1);
  border-radius: 5px;
  color:var(--col5)!important;
}
.active.nav-link:hover{
  color:var(--secondary)!important;
}


button:hover{
  color: #FFD700 !important;
}
.avatarIcon{
  width: 30px!important;
  height: 30px;
  padding: 1px;
  border:1px solid white;
  border-radius: 50%;

}
.nav-link{
  font-weight: 600;
  color:var(--text)
}