
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hidden {
    transform: translateY(-100%);
  }
  
  *{
    font-family: "Montserrat", sans-serif;
  }
  .page{
        min-height: 100vh;  
        background-color: #020617;
        padding-top: 60px;
      
      }
.menu{
    border-bottom: 1px solid gray;
}
.err-container {
  height: 1em; /* Magasság fenntartása a hibaüzenet számára */
  font-size: 0.7em; /* Az üzenet mérete */
  color: red;
}
/*BigCard*/
h4 strong, li span{
  background-color: #475569!important;
  color:white!important;
}