
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hidden {
    transform: translateY(-100%);
  }
  
  *{
    font-family: "Montserrat", sans-serif;
  }
  .page{
        min-height: 100vh;  
        background: #1D2B64;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        padding-top: 60px;
      
      }
.menu{
    border-bottom: 1px solid gray;
}