:root {
   /* --bg-color: #082f49;
    --fr-color: #0c4a6e;
    --text-color:#f0f9ff;*/
    --col1:#C9CAD9;
    --col2:#D1D2F9;
    --col3:#A3BCF9;
    --col4:#7796CB;
    --col5:#576490;
    
    --text: #ede5fc;
    --background: #0e041f;
    --primary: #a178ee;
    --secondary: #971354;
    --accent: #e84446;
    --navbar:rgb(17, 81, 103);

}